*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
button{
    font-family: "Inter", sans-serif;
}
main{
    max-width: 425px;
    margin: 0 auto;
}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;

    .pc-logo{
        display: none;
    }

    .profile{
        width: 45px;
    }


    button{
        
        border: none;
        background-color: transparent;
        display: flex;
        gap: 20px;

        .ham{
            display: flex;
            flex-direction: column;
            gap: 15px;
            .ham-line{
                width: 25px;
                height: 1.5px;
                background-color: #000000;
            }
        }
        p{
            display: none;
        }
    }




}

hr{
    width: 100%;

    position: absolute;
    margin:  0 auto;
    left: 0;
    top:80px ;
    right: 0;
    background-color: rgb(227, 228, 229);
    height: 1px;
}

.hero{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    .porche-911{
        width: 170px;
        opacity: 40%;
        z-index: -1;
    }

    .porche-hero{
        width: 400px;
    }


}


.price{

    .tabs{

        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        padding-top: 20px;
        h4{
            font-size: 18px;
            font-weight: 400;
        }
        .coupe{
            border-bottom: solid #000000 2px;
            padding-bottom: 5px;
            .pc{
                display: none;
            }
        }
    }

    .model-and-price{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column ;
        gap: 4px;
        padding-top: 20px;

        h2{
            font-size: 28px;
            font-weight: 500;
        }
        p{
            background-color: #c2bcbc9c;
            padding: 2px 10px 2px 10px;
            border-radius: 8px;
        }
        h3{
            font-weight: 500;
        }
    }

    .btns{
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        button{
            width: 300px;
            padding: 15px 0px 15px 0px;
            background-color: transparent;
            border: #000000 solid 1.5px;
            border-radius: 8px;
        }
        .model{
            background-color: #000000;
            border: none;
            color: #ffffff;
        }

    }

    .tozi{
        padding-top: 30px;
        p{
            text-align: center;
            
        }
    }

}



.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
    img{
        width: 350px;
    }
    .speed{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        .speed-details{

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h3{
                font-size: 24px;
            }
            p{
                color: #6b6d70;
            }
        }

        button{
            background-color: transparent;
            padding: 16px 30px 16px 30px;
            border-radius: 6px;
            width: 380px;
        }
    }

}

.hamber-menu{
    display: none;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 130vh;
    gap: 30px;
    button{
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: right;
    }
    ul{
        list-style: none;
        li{
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 22px;
            padding: 20px 10px 20px 10px;
            img{
                width: 45px;
            }
        }
    }
}



@media only screen and (min-width: 650px){

    main{
        max-width: 1200px;
        margin: 0 auto;
    }
    header{
         
        .logo{
            display: none;
        }
        .pc-logo{
            font-size: 25px;
            display: flex;
        }
        button{
            
            align-items: center;
            p{
                display: flex;
            }
        }
        
    }

    .hero{
        .porche-911{
            width: 400px;
            opacity: 14%;
            z-index: -1;
        }
        .porche-hero{
            width: 800px;
        }
    }

    .price{
        .tabs{

            .pc{
                display: block;
            }
        }
        .model-and-price{

            h2{
                font-size: 46px;
                font-weight: 300;
            }
        }
        .btns{
            flex-direction: row;
            padding-top: 40px;
        }
        .tozi{
            padding-top: 40px;
        }
    }

    .detail{
        
        flex-direction: row-reverse;
        align-items: center;
        gap: 60px;
        
        .speed{
            gap: 40px;
            .speed-details{

                h3{
                    font-size: 30px;
                }
            }
            button{
                font-size: 17px;
            }
        }
    }

}

